.description {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 40px;
  gap: 15px;
}
.avatar {
  width: 200px;
  border-radius: 50%;
}
.name {
  font-weight: 700;
  font-size: 30px;
}
.tag,
.location {
  color: rgb(101, 100, 100);
}
